body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.atm {
    text-align: center;
    border: 1px solid #000;
    padding: 20px;
    width: 300px;
    background-color: aqua;
}

.screen {
    margin: 20px;
}

button {
    margin: 5px;
}
